<h1>Tasks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th>Description</th>
      <th><%= sortable "deadline" %></th>
      <th><%= sortable "created_at", "Created" %></th>
      <th><%= sortable "completed" %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% i = 1 %>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task_path(task), :class => "task#{i}" %></td>
        <td><%= task.description %></td>
        <td><%= task.deadline || "none" %></td>
        <td><%= time_ago_in_words(task.created_at) %> ago</td>
        <td><%= task.completed ? "yes" : "no" %></td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', task_path(task), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_task_path, :class => 'btn btn-primary' %>
