<h1>Task</h1>

<p>
  <strong>Name</strong><br>
  <%= @task.name %>
</p>

<p>
  <strong>Description</strong><br>
  <%= @task.description %>
</p>

<p>
  <strong>Deadline</strong><br>
  <%= @task.deadline || "none" %>
</p>

<% if @task.document %>
  <%= link_to "attached note", @task.document.url %>
<% end %>

<div class="form-actions">
  <%= link_to 'Back', tasks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn' %>
  <%= link_to 'Delete', task_path(@task), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
